In [1]:
#1
#allow output for all lines in Jupyter
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd

In [3]:
#2/3
houston = pd.read_csv("houston_roster_2025.csv", index_col="Player")
okc = pd.read_csv("okc_roster_2025.csv", index_col="Player")
pacers = pd.read_csv("pacers_roster_2025.csv", index_col="Player")
sixers = pd.read_csv("philly_roster_2025.csv", index_col="Player")

houston.head(1)
okc.head(1)
pacers.head(1)
sixers.head(1)

                No. Pos     Ht   Wt    Birth Date  Birth  Exp   College
Player
Reed Sheppard  15.0  SG  2-Jun  185  June 24 2004  us US    1  Kentucky

,No.,Pos,Ht,Wt,Birth Date,Birth,Exp,College
Player,,,,,,,,
Shai Gilgeous-Alexander,2.0,PG,6-Jun,195,July 12 1998,ca CA,7,Kentucky

               No. Pos     Ht   Wt        Birth Date  Birth Exp  College
Player
Jarace Walker  5.0  PF  7-Jun  235  September 4 2003  us US   2  Houston

              No. Pos     Ht   Wt       Birth Date  Birth Exp   College
Player
Tyrese Maxey  0.0  PG  2-Jun  200  November 4 2000  us US   5  Kentucky

In [4]:
#4
combined_rosters = pd.concat([houston, okc, pacers, sixers])
combined_rosters.head(20)

,No.,Pos,Ht,Wt,Birth Date,Birth,Exp,College
Player,,,,,,,,
Reed Sheppard,15.0,SG,2-Jun,185,June 24 2004,us US,1,Kentucky
Josh Okogie,20.0,SG,4-Jun,213,September 1 1998,ng NG,7,Georgia Tech
Amen Thompson,1.0,PG,7-Jun,200,January 30 2003,us US,2,NaN
Jabari Smith Jr.,10.0,PF,11-Jun,220,May 13 2003,us US,3,Auburn
Kevin Durant,7.0,SF,11-Jun,240,September 29 1988,us US,17,Texas
Clint Capela,30.0,C,10-Jun,256,May 18 1994,ch CH,11,NaN
Alperen Şengün,28.0,C,11-Jun,243,July 25 2002,tr TR,4,NaN
Aaron Holiday,0.0,PG,Jun-00,185,September 30 1996,us US,7,UCLA
Steven Adams,12.0,C,11-Jun,265,July 20 1993,nz NZ,11,Pitt
Jae'Sean Tate,8.0,SF,4-Jun,230,October 28 1995,us US,5,Ohio State
Tari Eason,17.0,PF,8-Jun,215,May 10 2001,us US,3,Cincinnati LSU
JD Davison (TW),4.0,PG,1-Jun,195,October 3 2002,us US,3,Alabama
Dorian Finney-Smith,2.0,PF,7-Jun,220,May 4 1993,us US,9,Florida
Jeff Green,32.0,PF,8-Jun,235,August 28 1986,us US,17,Georgetown
Isaiah Crawford (TW),27.0,SF,6-Jun,220,November 1 2001,us US,1,Louisiana Tech
Fred VanVleet,NaN,PG,Jun-00,197,February 25 1994,us US,9,Wichita State
Tristen Newton (TW),NaN,SG,5-Jun,190,April 26 2001,us US,1,East Carolina University UConn
Shai Gilgeous-Alexander,2.0,PG,6-Jun,195,July 12 1998,ca CA,7,Kentucky
Cason Wallace,22.0,SG,3-Jun,195,November 7 2003,us US,2,Kentucky
Chet Holmgren,7.0,PF,1-Jul,208,May 1 2002,us US,2,Gonzaga

In [5]:
#5
combined_rosters.to_csv("nba_2025_combined_rosters.csv")